<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
	<appSettings>
		<add key="DefaultCenterApiUrl" value="http://192.168.11.124:8080"/>
		<add key="CenterWebUrl" value="http://192.168.11.124/user/login"/>
		<add key="Version" value="v0.0.1"/>
	</appSettings>
</configuration>
